In [58]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [59]:
# File to Load 
loadfile= "../Resources/purchase_data.csv"

In [60]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(loadfile)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [62]:
# Display total number of players... 
total = purchase_data["SN"].value_counts()
total_df = pd.DataFrame(total)
total_df
# totalp = len(total)
# totalp
# totalp = pd.Dataframe([0], columns =["Total Players"])

             SN
Lisosia93     5
Iral74        4
Idastidru52   4
Lisim78       3
Aelin32       3
...          ..
Ina92         1
Marjask87     1
Ilastilis78   1
Jiskjask80    1
Rithe53       1

[576 rows x 1 columns]

In [50]:
# total_players = pd.DataFrame(totalp, columns = ["Total Players"])
# total_players
# purchase_data["SN"].unique()

In [51]:
# Find number of unique items
unique_items = purchase_data.drop_duplicates(subset=['Item Name'])
unique_item_count = len(unique_items)
unique_item_count

179

In [45]:
# Find average price 
avg_price = purchase_data["Price"].mean()
avg_price

3.0509871794871795

In [53]:
# Number of purchases
purchases = purchase_data["Purchase ID"].value_counts()
num_purchases = len(purchases) 
num_purchases

780

In [54]:
# Total revenue
total_rev = purchase_data["Price"].sum()
total_rev

2379.77

In [ ]:
# Count & percentage of male players
# count_male = purchase_data["SN"].value_counts()

In [ ]:
# Age Demographics