In [47]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [48]:
# File to Load 
loadfile= "../Resources/purchase_data.csv"

In [49]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(loadfile)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [79]:
# Display total number of players... 
totalplayers_df = purchase_data.drop(["Purchase ID","Age", "Gender", "Item ID", "Item Name", "Price"], axis=1)
cleantotalp_df = totalplayers_df.drop_duplicates(subset=["SN"])
playercount = cleantotalp_df.SN.value_counts()
playerscount = len(playercount)
# Create total players summary table
totalplayers_df = pd.DataFrame({
      "Total Players" : [playerscount]
  })
totalplayers_df

   Total Players
0            576

In [93]:
# Find number of unique items, average price, number of purchases and total revenue
# Create summary table 
unique_items = purchase_data.drop_duplicates(subset=['Item Name'])
unique_item_count = len(unique_items)
avg_price = purchase_data["Price"].mean()
purchases = purchase_data["Purchase ID"].value_counts()
num_purchases = len(purchases) 
total_rev = purchase_data["Price"].sum()
# Summary table of items
summaryitems_df = pd.DataFrame({
    "Number of Unique Items" : [unique_item_count],
    "Average Price" : "${:,.2f}".format(avg_price),
    "Nuber of Purchases": [num_purchases],
    "Total Revenue" : "${:,.2f}".format(total_rev)
})
summaryitems_df

   Number of Unique Items Average Price  Nuber of Purchases Total Revenue
0                     179         $3.05                 780     $2,379.77

In [94]:
# Count & percentage of male/female players and colculate percentages of players
# create table with sn and gender, remove duplicates 
name_gender_df = purchase_data.drop(["Purchase ID","Age", "Item ID", "Item Name", "Price"], axis=1)
cleaned_ng_df = name_gender_df.drop_duplicates(subset=["SN"])
count_gender = cleaned_ng_df.Gender.value_counts()
gender_percentage = count_gender.divide(playerscount, fill_value=0)
GenderDemo_df =  pd.DataFrame({
    "Total Count": count_gender,
    "Percent of Total": gender_percentage
})
GenderDemo_df

                       Total Count  Percent of Total
Male                           484          0.840278
Female                          81          0.140625
Other / Non-Disclosed           11          0.019097